/* inicio COLORES */
/* fin COLORES ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio PLACEHOLDER */
.redesSocialesFooter ul img {
  width: 32px;
  height: 32px;
}

h2 {
  display: flex;
  justify-content: center;
  background-color: #99CF68;
  padding: 10px;
  font-size: 2.2rem;
  margin: 5px 0px 10px 0px;
  border-top: solid #9466DB 1px;
  border-bottom: solid #9466DB 1px;
  font-weight: 800;
  width: 100%;
}

/* fin PLACEHOLDER ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio MIXING */
/* fin MIXING --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio DEFAULT */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
  font-family: 'Domine', serif;
}

/* fin DEFAULT ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio TITULOS */
h1 {
  display: none;
}

h2 {
  margin: 20px 0px;
}

@media (max-width: 750px) {
  h2 {
    font-size: 1.7rem;
  }
}

/* fin TITULOS -------------------------------------------------------*/
/* inicio DIVISOR */
.divisorVioletaTop1 {
  border-top: solid #9466DB 20px;
}

.divisorVioletaTop2 {
  border-top: solid #9466DB 20px;
  margin-bottom: 10px;
}

.divisorVioletaTop2SmallHide {
  border-top: solid #9466DB 20px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .divisorVioletaTop2SmallHide {
    display: none;
  }
}

.divisorVioletaFooter {
  border-top: solid #9466DB 20px;
  margin: 30px 0px 20px 0px;
}

@media (max-width: 990px) {
  .divisorVioletaFooter {
    display: none;
  }
}

.divisorVioleta {
  border-top: solid #9466DB 20px;
  margin: 20px 0px 30px 0px;
}

.divisorSmall {
  border-top: none;
}

@media (max-width: 990px) {
  .divisorSmall {
    border-top: solid #9466DB 20px;
    margin: 20px 0px;
    width: 100%;
  }
}

/* fin DIVISOR -----------------------------------------------------------------------------------------------------------------*/
/* inicio HEADER */
/* inicio MENU PRINCIPAL */
.menuPrincipal img {
  width: 200px;
  height: 80px;
  margin-left: 10px;
}

.menuPrincipal li {
  padding: 8px;
  border-radius: 12px;
}

.menuPrincipal li:hover {
  background-color: #99CF68;
  transition: 850ms;
}

.menuPrincipal li a {
  font-size: 1.7rem;
  color: black;
  font-weight: 600;
  font-stretch: expanded;
}

/* fin MENU PRINCIPAL ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* fin HEADER ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio FOOTER */
footer p {
  font-size: 2rem;
  color: whitesmoke;
  background-color: #9466DB;
  text-align: center;
  padding: 12px;
  margin-bottom: 0px;
}

.alineacionFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.direccionContactoFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 10px 0px;
}

.direccionContactoFooter ul {
  list-style: none;
}

.direccionContactoFooter li {
  font-size: 1.6rem;
  color: black;
  font-weight: 700;
  text-align: left;
  margin-top: 22px;
  text-align: center;
}

@media (max-width: 800px) {
  .direccionContactoFooter li {
    font-size: 1.4rem;
    color: black;
  }
}

.redesSocialesFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 90%;
}

.redesSocialesFooter ul {
  list-style: none;
}

.redesSocialesFooter ul li {
  font-size: 1.4rem;
  color: black;
  margin-top: 20px;
}

.redesSocialesFooter ul img {
  margin: 10px 5px;
}

.redesSocialesFooter ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menuFooter {
  text-align: center;
  margin: 5px 0px 0px 0px;
}

.menuFooter li {
  font-size: 1.6rem;
  color: black;
  border-radius: 12px;
  padding: 5px;
  width: 60%;
  margin: auto;
}

.menuFooter a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.menuFooter a:hover {
  color: black;
  text-decoration: none;
}

.menuFooter li:hover {
  background-color: #99CF68;
  transition: 850ms;
}

.LogoFooter {
  align-content: space-between;
  margin: 15px 0px;
  width: 100%;
}

/* fin FOOTER ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio CAROUSEL */
.carrusel .carruselInner img {
  border-radius: 12px;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
}

@media (max-width: 900px) {
  #carouselExampleSlidesOnly {
    display: none;
  }
}

/* fin CAROUSEL ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio CURSOS INDEX */
.contenedor {
  width: 92%;
}

.cards {
  position: relative;
  text-align: center;
  justify-content: center;
  margin: 15px auto;
}

.cards img {
  opacity: 1;
  transition: 0.5s opacity;
  width: 100%;
  border-radius: 25px;
}

.cards .cardsSpan {
  font-size: 1.7rem;
  color: black;
  font-weight: normal;
  background-color: #99CF68;
  bottom: 0px;
  left: 0px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 600px) {
  .cards .cardsSpan {
    font-size: 1.5rem;
    color: black;
  }
}

.cards:hover img {
  opacity: 0.7;
}

/* fin CURSOS INDEX -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio TEXTO INDEX*/
.sobreIdip {
  margin: 20px auto;
  width: 92%;
  border: solid #9466DB 2px;
  border-radius: 12px;
  justify-content: center;
}

.sobreIdip ul {
  margin: 10px;
}

.sobreIdip ul li {
  font-size: 1.8rem;
  color: black;
  margin: 10px 0px;
  font-weight: 400;
  font-style: italic;
}

/*fin TEXTO INDEX --------------------------------------------------------------------------------------------------*/
/* inicio CURSOS */
.curso {
  margin: 20px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.curso h3 {
  background-color: #99CF68;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2rem;
  text-align: center;
  padding: 10px 0px;
  margin: 0px;
}

@media (max-width: 600) {
  .curso h3 {
    font-size: 1.7rem;
  }
}

.curso p {
  background-color: white;
  font-size: 1.6rem;
  padding: 10px 5px;
  margin: 0px;
  height: 130px;
}

@media (max-width: 1280px) {
  .curso p {
    font-size: 1.4rem;
    height: 180px;
  }
}

.curso button {
  background-color: whitesmoke;
  border-color: white;
  font-size: 1.6rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
  text-align: center;
}

.curso:hover img {
  opacity: 0.7;
  transition: 1s;
}

.curso:hover h3 {
  opacity: 0.7;
  transition: 1s;
}

/* fin CURSOS ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio FORMULARIO */
.bigicon {
  font-size: 1.8rem;
  color: #99CF68;
}

.formulario {
  margin-left: 25%;
  margin-right: 25%;
}

@media (max-width: 650px) {
  .formulario {
    width: 100%;
    margin: 10px;
  }
}

.formulario div {
  width: 100%;
}

.formulario * {
  font-size: 1.8rem;
  color: black;
}

.formularioItem {
  margin-top: 10px;
}

.formularioItem button {
  display: flex;
  justify-content: left;
  margin: 10px;
  background-color: #99CF68;
  border: #A5E6BA;
}

/* fin FORMULARIO -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio PAGINA GOOGLE MAPS */
.parrafoGoogleMaps {
  font-size: 1.8rem;
  color: black;
  text-align: center;
}

.margenesGoogleMaps {
  margin-bottom: 10px;
}

/* fin PAGINA GOOGLE MAPS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio FAQ */
.faq {
  margin: auto;
  font-size: 1.8rem;
  color: black;
}

.faq div h3 button {
  font-size: 1.8rem;
  color: black;
}

@media (max-width: 600px) {
  .faq div h3 button {
    font-size: 1.4rem;
    color: black;
  }
}

.faq div .botonAcordion {
  background-color: whitesmoke;
}

.faq div div div {
  font-size: 1.6rem;
  color: black;
}

@media (max-width: 600px) {
  .faq div div div {
    font-size: 1.4rem;
    color: black;
  }
}

/* fin FAQ ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*# sourceMappingURL=main.css.map */