/* inicio DEFAULT */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: whitesmoke;
  font-family: 'Domine', serif;
}

body {
  background-color: whitesmoke;
  font-family: 'Domine', serif;
}

/* fin DEFAULT ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio COLORES */
/* fin COLORES ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio PLACEHOLDER */
.redesSocialesAside ul li img {
  width: 32px;
  height: 32px;
}

h1, h2 {
  display: flex;
  justify-content: center;
  background-color: #99CF68;
  padding: 10px;
  font-size: 2.4rem;
  margin: 5px 0px 10px 0px;
  border-top: solid #9466DB 1px;
  border-bottom: solid #9466DB 1px;
  font-weight: 800;
}

/* fin PLACEHOLDER ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio MIXING */
/* fin MIXING --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio HEADER */
/* inicio MENU PRINCIPAL */
.menuPrincipal img {
  width: 200px;
  height: 80px;
  margin-left: 10px;
}

.menuPrincipal li {
  padding: 10px;
  border-radius: 12px;
}

.menuPrincipal li:hover {
  background-color: #99CF68;
  transition: 850ms;
}

.menuPrincipal li a {
  font-size: 1.8rem;
  color: black;
  font-weight: 600;
  font-stretch: expanded;
}

/* fin MENU PRINCIPAL ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* fin HEADER ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio CURSOS INDEX */
h1 {
  margin: 20px 0px;
}

h2 {
  margin: 20px 0px;
}

.cards {
  padding: 0px;
  position: relative;
  text-align: center;
  margin: 15px 5px 15px 5px;
}

.cards img {
  opacity: 1;
  transition: 0.5s opacity;
  width: 100%;
  border-radius: 25px;
}

.cards .cardsSpan {
  font-size: 1.8rem;
  color: black;
  font-weight: 500;
  background-color: #99CF68;
  bottom: 0px;
  left: 0px;
  padding: 5px 5px 5px 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cards:hover img {
  opacity: 0.7;
}

/* fin CURSOS INDEX -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio CURSOS */
.curso {
  margin: 20px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.curso h3 {
  background-color: #99CF68;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  margin: 0px;
}

.curso p {
  background-color: white;
  font-size: 1.6rem;
  padding: 10px;
  margin: 0px;
}

.curso button {
  font-size: 1.6rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
}

.curso:hover img {
  opacity: 0.7;
  transition: 1s;
}

.curso:hover h3 {
  opacity: 0.7;
  transition: 1s;
}

/* fin CURSOS ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio TEXTO DIRECCION Y CONTACTO */
.direccionContacto {
  margin: 10px 0px;
}

.direccionContacto ul {
  list-style: none;
}

.direccionContacto li {
  font-size: 2.4rem;
  color: black;
  font-weight: 700;
  margin-top: 55px;
  text-align: center;
}

/* fin TEXTO DIRECCION Y CONTACTO ---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio CAROUSEL */
.carrusel * {
  border-radius: 12px;
}

.carrusel * .carruselInner img {
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
}

/* fin CAROUSEL ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio PAGINA GOOGLE MAPS */
.parrafoGoogleMaps {
  font-size: 1.8rem;
  color: black;
  text-align: center;
}

.margenesGoogleMaps {
  margin-bottom: 10px;
}

/* fin PAGINA GOOGLE MAPS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio FORMULARIO */
.bigicon {
  font-size: 1.8rem;
  color: #99CF68;
}

.formulario {
  margin-left: 25%;
  margin-right: 25%;
}

.formulario div {
  width: 100%;
}

.formulario * {
  font-size: 1.8rem;
  color: black;
}

.formularioItem {
  margin-top: 10px;
}

.formularioItem button {
  display: flex;
  justify-content: left;
  margin: 10px;
  background-color: #99CF68;
  border: #A5E6BA;
}

/* fin FORMULARIO -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio FAQ */
.faq {
  font-size: 1.8rem;
  color: black;
}

.faq div :active {
  color: #99CF68;
}

.faq div h3 button {
  font-size: 1.8rem;
  color: black;
}

.faq div .botonAcordion {
  background-color: whitesmoke;
}

.faq div div div {
  font-size: 1.6rem;
  color: black;
}

/* fin FAQ ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* inicio DIVISOR */
.divisorVioletaTop1 {
  border-top: solid #9466DB 20px;
}

.divisorVioletaTop2 {
  border-top: solid #9466DB 20px;
  margin-bottom: 10px;
}

.divisorVioletaFooter {
  border-top: solid #9466DB 20px;
  margin: 30px 0px 20px 0px;
}

.divisorVioleta {
  border-top: solid #9466DB 20px;
  margin: 20px 0px 30px 0px;
}

/* fin DIVISOR -----------------------------------------------------------------------------------------------------------------*/
/* inicio FOOTER */
.alineacionAside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

aside {
  background-color: whitesmoke;
}

.asideGoogleMaps * {
  margin: 0px 10px 10px;
  border-radius: 20px;
  width: 100%;
}

.direccionContactoAside {
  display: flex;
}

.direccionContactoAside ul {
  list-style: none;
}

.direccionContactoAside li {
  font-size: 1.6rem;
  color: black;
  font-weight: 800;
  text-align: left;
  margin-top: 22px;
  text-align: center;
}

.redesSocialesAside {
  display: flex;
  justify-content: center;
}

.redesSocialesAside ul {
  list-style: none;
}

.redesSocialesAside ul li {
  font-size: 1.6rem;
  color: black;
  margin-top: 20px;
}

.redesSocialesAside ul li img {
  margin: 10px 5px;
}

.redesSocialesAside ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menuAside {
  text-align: center;
  margin: 5px 0px 0px 0px;
}

.menuAside li {
  font-size: 1.6rem;
  color: black;
  border-radius: 12px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.menuAside a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.menuAside a:hover {
  color: black;
  text-decoration: none;
}

.menuAside li:hover {
  background-color: #99CF68;
  transition: 850ms;
}

.asideLogo {
  width: 100%;
  margin-bottom: 20px;
}

footer p {
  font-size: 2rem;
  color: whitesmoke;
  background-color: #9466DB;
  text-align: center;
  padding: 12px;
  margin-bottom: 0px;
}

/* fin FOOTER ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*# sourceMappingURL=main.css.map */