/* inicio COLORES */

$verde: #99CF68;
$violeta: #9466DB;
$blancoHumo: whitesmoke;

/* fin COLORES ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
