/* inicio DEFAULT */

* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: whitesmoke;
    font-family: 'Domine', serif;

}

body {
    background-color: whitesmoke;
    font-family: 'Domine', serif;

}

/* fin DEFAULT ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
