@import "_colores.scss";
@import "_mixinplaceholders.scss";
@import "_header.scss";
@import "_footer.scss";

/* inicio DEFAULT */

* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: whitesmoke;
    font-family: 'Domine', serif;

}

body {
    background-color: whitesmoke;
    font-family: 'Domine', serif;

}

/* fin DEFAULT ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* inicio CURSOS INDEX */

h1 {
    display: none;
}

h2 {
    @extend %tituloVerde;
    margin: 20px 0px;
    @media (max-width: 750px){
        font-size: 1.8rem;
    }
}

.contenedor {
    width: 98%;
}
.cards {
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 15px 0px 15px 0px;
    img {
        opacity: 1;
        transition: 0.5s opacity;
        width: 100%;
        border-radius: 25px;
    }
    .cardsSpan {
        @include fontSet(1.7rem,black );
        font-weight: 400;
        background-color: $verde;
        bottom: 0px;
        left: 0px;
        padding: 5px 10px 0px 10px;
        position: absolute;
        text-align: center;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        @media (max-width:600px) {
            @include fontSet(1.5rem,black );
        }
    }
}

.cards:hover img {
    opacity: 0.7;
}


/* fin CURSOS INDEX -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* inicio CURSOS */

.curso {
    margin: 20px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    h3 {
        background-color: $verde;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 2rem;
        text-align: center;
        padding: 10px 0px;
        margin: 0px;
        @media (max-width: 600) {
            font-size: 1.7rem;
        }
    }
    p {
        background-color: white;
        font-size: 1.6rem;
        padding: 10px 5px;
        margin: 0px;
        height: 130px;
        @media (max-width: 600px) {
            font-size: 1.4rem;  
            height: 120px;
        }
    }
    button {
        font-size: 1.6rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 5px;
        text-align: center;

    }
}

.curso:hover img {
    opacity: 0.7;
    transition: 1s;
}

.curso:hover h3  {
    opacity: 0.7;
    transition: 1s;
}


/* fin CURSOS ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* inicio TEXTO DIRECCION Y CONTACTO */

.direccionContacto {
    margin: 10px 0px;
    ul {
    list-style: none;
    margin-top: 0px; 
    }
    li {
        @include fontSet(2.4rem, black);
        margin: 40px;
        font-weight: 700;
        text-align: center;
        @media (max-width: 900px) {
            @include fontSet(1.8rem, black);
            margin: 20px
        }
    }
    }  

/* fin TEXTO DIRECCION Y CONTACTO ---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* inicio CAROUSEL */


.carrusel *{
    border-radius: 12px;
    .carruselInner img {
        margin: auto;
        margin-bottom: 10px;
        width: 80%;
    }
}

@media (max-width:900px) {
    #carouselExampleSlidesOnly {
        display:none;
    }
}


/* fin CAROUSEL ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*textos INDEX*/

.sobreIdip {
    margin: 20px 5px 5px 20px;
    margin: auto;
    border: solid $violeta 2px;
    border-radius: 12px;
    justify-content: center;
    ul {
    margin: 10px;
        li {
            @include fontSet(1.8rem,black );
            margin: 10px 0px;
            font-weight: 400;
            font-style: italic;
        }
    }
}


/* inicio PAGINA GOOGLE MAPS */

.parrafoGoogleMaps {
    @include fontSet(1.8rem,black);
    text-align: center;
}

.margenesGoogleMaps {
    margin-bottom: 10px;
}

/* fin PAGINA GOOGLE MAPS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* inicio FORMULARIO */

.bigicon {
    font-size: 1.8rem;
    color: $verde;
}

.formulario {
    margin-left: 25%;
    margin-right: 25%;
    @media (max-width: 650px) {
        width: 100%;
        margin: 10px;
    }
    div {
        width: 100%;
    }
    * {
    @include fontSet(1.8rem,black );
    }

}

.formularioItem {
    margin-top: 10px;
    button {
        display: flex;
        justify-content: left;
        margin: 10px;
        background-color: $verde;
        border: #A5E6BA;
    }
}

/* fin FORMULARIO -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* inicio FAQ */

.faq {
    margin: 20px 0px;
    @include fontSet(1.8rem, black);
    div {
        margin: 20px 5px;
        :active {
            color: $verde;
        }
        h3 {
            button {
                @include fontSet(1.8rem, black);
                @media (max-width: 600px){
                    @include fontSet(1.4rem,black )
                }
            }
        }
        .botonAcordion {
            background-color: whitesmoke;
        }
        div {
            div {
                @include fontSet(1.6rem, black);
                @media (max-width: 600px){
                    @include fontSet(1.4rem,black )
                }
            }
        }
    }
}


/* fin FAQ ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* inicio DIVISOR */

.divisorVioletaTop1 {
    border-top: solid $violeta 20px;
}

.divisorVioletaTop2 {
    border-top: solid $violeta 20px;
    margin-bottom: 10px;
}

.divisorVioletaTop2SmallHide {
    border-top: solid $violeta 20px;
    margin-bottom: 10px;
    @media (max-width: 900px) {
        display: none;
    }
}

.divisorVioletaFooter {
    border-top: solid $violeta 20px;
    margin: 30px 0px 20px 0px;
}

.divisorVioleta {
    border-top: solid $violeta 20px;
    margin: 20px 0px 30px 0px;
}

.divisorSmall {
    border-top: none;
    @media (max-width: 650px) {

        border-top: solid $violeta 20px;
        margin: 20px 0px 30px 0px;
    }
}

/* fin DIVISOR -----------------------------------------------------------------------------------------------------------------*/

