/* inicio DEFAULT */

* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: whitesmoke;
    font-family: 'Domine', serif;

}

body {
    background-color: whitesmoke;
    font-family: 'Domine', serif;

}

/* fin DEFAULT ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* inicio COLORES */

$verde: #99CF68;
$violeta: #9466DB;
$blancoHumo: whitesmoke;

/* fin COLORES ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* inicio PLACEHOLDER */

%iconos {
    width: 32px;
    height: 32px;
}

%topBarText {
    padding: 0px 10px;
    font-size: 1.4rem;
    color: whitesmoke;
    text-decoration: none;

}

%tituloVerde {
    display: flex;
    justify-content: center;
    background-color: $verde;
    padding: 10px;
    font-size: 2.4rem;
    margin: 5px 0px 10px 0px;
    border-top: solid $violeta 1px;
    border-bottom: solid $violeta 1px;
    font-weight: 800;
    width: 100%;
}

%tituloVioleta {
    color: whitesmoke;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    background-color: $violeta;
    padding: 10px;
    font-size: 2.4rem;
}
/* fin PLACEHOLDER ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* inicio MIXING */

@mixin fontSet ($fontSize, $fontColor) {
    font-size: $fontSize;
    color: $fontColor;
}

/* fin MIXING --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/* inicio HEADER */

    /* inicio MENU PRINCIPAL */

    .menuPrincipal {  
        img {
            width: 200px;
            height: 80px;
            margin-left: 10px;
        }    
        li {
            padding: 10px;
            border-radius: 12px;
        }
        li:hover {
            background-color: $verde;
            transition: 850ms;
        }
        li a {
            @include fontSet(1.8rem,black);
            font-weight: 600;
            font-stretch: expanded;
        }
    }

    /* fin MENU PRINCIPAL ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* fin HEADER ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* inicio CURSOS INDEX */

h1 {
    display: none;
}

h2 {
    @extend %tituloVerde;
    margin: 20px 0px;
    @media (max-width: 600px){
        font-size: 1.8rem;
    }
}

.contenedor {
    width: 98%;
}
.cards {
    padding: 0px;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 15px 0px 15px 0px;
    img {
        opacity: 1;
        transition: 0.5s opacity;
        width: 100%;
        border-radius: 25px;
    }
    .cardsSpan {
        @include fontSet(1.7rem,black );
        font-weight: 500;
        background-color: $verde;
        bottom: 0px;
        left: 0px;
        padding: 5px 0px 0px 10px;
        position: absolute;
        text-align: center;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        @media (max-width:600px) {
            @include fontSet(1.5rem,black );
        }
    }
}

.cards:hover img {
    opacity: 0.7;
}


/* fin CURSOS INDEX -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* inicio CURSOS */

.curso {
    margin: 20px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    h3 {
        background-color: $verde;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 2rem;
        text-align: center;
        padding: 10px 0px;
        margin: 0px;
    }
    p {
        background-color: white;
        font-size: 1.6rem;
        padding: 10px 0px;
        margin: 0px;
    }
    button {
        font-size: 1.6rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 5px;
    }
}

.curso:hover img {
    opacity: 0.7;
    transition: 1s;
}

.curso:hover h3  {
    opacity: 0.7;
    transition: 1s;
}


/* fin CURSOS ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* inicio TEXTO DIRECCION Y CONTACTO */

.direccionContacto {
    margin: 10px 0px;
    ul {
    list-style: none;
    margin-top: 0px; 
    }
    li {
        @include fontSet(2.4rem, black);
        margin: 40px;
        font-weight: 700;
        text-align: center;
        @media (max-width: 600px) {
            @include fontSet(1.8rem, black);
            margin: 20px
        }
    }
    }  

/* fin TEXTO DIRECCION Y CONTACTO ---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* inicio CAROUSEL */


.carrusel *{
    border-radius: 12px;
    .carruselInner img {
        margin: auto;
        margin-bottom: 10px;
        width: 80%;
    }
}

@media (max-width:720px) {
    #carouselExampleSlidesOnly {
        display:none !important;
    }
}


/* fin CAROUSEL ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* inicio PAGINA GOOGLE MAPS */

.parrafoGoogleMaps {
    @include fontSet(1.8rem,black);
    text-align: center;
}

.margenesGoogleMaps {
    margin-bottom: 10px;
}

/* fin PAGINA GOOGLE MAPS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* inicio FORMULARIO */

.bigicon {
    font-size: 1.8rem;
    color: $verde;
}

.formulario {
    margin-left: 25%;
    margin-right: 25%;
    @media (max-width: 650px) {
        width: 100%;
        margin: 10px;
    }
    div {
        width: 100%;
    }
    * {
    @include fontSet(1.8rem,black );
    }

}

.formularioItem {
    margin-top: 10px;
    button {
        display: flex;
        justify-content: left;
        margin: 10px;
        background-color: $verde;
        border: #A5E6BA;
    }
}

/* fin FORMULARIO -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* inicio FAQ */

.faq {
    margin: 20px 0px;
    @include fontSet(1.8rem, black);
    div {
        margin: 20px 5px;
        :active {
            color: $verde;
        }
        h3 {
            button {
                @include fontSet(1.8rem, black);
                @media (max-width: 600px){
                    @include fontSet(1.4rem,black )
                }
            }
        }
        .botonAcordion {
            background-color: whitesmoke;
        }
        div {
            div {
                @include fontSet(1.6rem, black);
                @media (max-width: 600px){
                    @include fontSet(1.4rem,black )
                }
            }
        }
    }
}


/* fin FAQ ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* inicio DIVISOR */

.divisorVioletaTop1 {
    border-top: solid $violeta 20px;
}

.divisorVioletaTop2 {
    border-top: solid $violeta 20px;
    margin-bottom: 10px;
}

.divisorVioletaTop2SmallHide {
    border-top: solid $violeta 20px;
    margin-bottom: 10px;
    @media (max-width: 600px) {
        display: none;
    }
}

.divisorVioletaFooter {
    border-top: solid $violeta 20px;
    margin: 30px 0px 20px 0px;
}

.divisorVioleta {
    border-top: solid $violeta 20px;
    margin: 20px 0px 30px 0px;
}

.divisorSmall {
    border-top: none;
    @media (max-width: 650px) {
        border-top: solid $violeta 20px;
        margin: 20px 0px 30px 0px;
    }
}

/* fin DIVISOR -----------------------------------------------------------------------------------------------------------------*/

/* inicio FOOTER */

footer {
    p {
        @include fontSet(2rem, whitesmoke);
        background-color: $violeta;
        text-align: center;
        padding: 12px;
        margin-bottom: 0px;
        
    }
}

.alineacionFooter{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.GoogleMapsFooter *{
    margin: 0px 10px 10px;
    border-radius: 20px;
    width: 100%;

}

.direccionContactoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
    list-style: none;
    }
    li {
        @include fontSet(1.6rem, black);
        font-weight: 800;
        text-align: left;
        margin-top: 22px;
        text-align: center;
        }
}


.redesSocialesFooter{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 90%;

    ul {
        list-style: none;

        li {
            @include fontSet(1.6rem, black);
            margin-top: 20px;
            }
            img {
                @extend %iconos;
                margin: 10px 5px;
            }
            a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            }
        }

    }

.menuFooter {
    text-align: center;
    margin: 5px 0px 0px 0px;
    li {   
        @include fontSet(1.6rem,black);
        border-radius: 12px;
        padding: 5px;
        width: 60%;
        margin: auto;
    }
        a {
            color: black;
            font-weight: 600;
            text-decoration: none;
        }
        a:hover {
            color: black;
            text-decoration: none; 
        }
    li:hover {
        background-color: $verde;
        transition: 850ms;
    }

}

.LogoFooter {
    width: 100%;
    margin-bottom: 20px;
}

/* fin FOOTER ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
