/* inicio PLACEHOLDER */

%iconos {
    width: 32px;
    height: 32px;
}

%topBarText {
    padding: 0px 10px;
    font-size: 1.4rem;
    color: whitesmoke;
    text-decoration: none;

}

%tituloVerde {
    display: flex;
    justify-content: center;
    background-color: $verde;
    padding: 10px;
    font-size: 2.4rem;
    margin: 5px 0px 10px 0px;
    border-top: solid $violeta 1px;
    border-bottom: solid $violeta 1px;
    font-weight: 800;
}

%tituloVioleta {
    color: whitesmoke;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    background-color: $violeta;
    padding: 10px;
    font-size: 2.4rem;
}
/* fin PLACEHOLDER ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* inicio MIXING */

@mixin fontSet ($fontSize, $fontColor) {
    font-size: $fontSize;
    color: $fontColor;
}

/* fin MIXING --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

